@media screen and (max-width: 992px) {
  .video {
    display: flex;
    justify-content: center; }
  .hoodies-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .hoodie-dos, .hoodie-tres {
    margin-top: 15%; }
  .pay {
    display: flex;
    align-items: flex-end;
    justify-content: center; }
  .metodos {
    font-size: medium;
    display: flex;
    justify-content: center; }
  .brand {
    display: none; }
  .shop {
    display: flex;
    flex-direction: column; }
  .shop-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .buy-here {
    display: none; }
  .no-desktop {
    margin-bottom: 20px; }
  .opacity {
    opacity: 0.7; }
  .size {
    width: 20rem; }
  .seguridad {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .truck, .credit-card {
    margin-bottom: 100px; }
  .shield {
    margin-bottom: 50px; } }

@media screen and (min-width: 992px) {
  .metodos {
    display: none; }
  .no-desktop {
    display: none; } }

.copy {
  font-size: 0.45rem; }

.iconos {
  font-size: 2rem; }

.navbar {
  margin-bottom: 10px;
  border-bottom: 1px solid black; }

.sec-border {
  border-top: 1px solid black;
  margin-top: 100px; }

.hoodies-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px; }

.hoodie-uno {
  grid-area: 1 / 1 / 2 / 2; }

.hoodie-dos {
  grid-area: 1 / 2 / 2 / 3; }

.hoodie-tres {
  grid-area: 1 / 3 / 2 / 4; }

.size {
  width: 20rem; }

.animation:hover {
  transform: scale(1.015);
  transition: all 1.5s; }

.buzos-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  margin-top: 20px; }

.buzo-uno {
  grid-area: 1 / 1 / 2 / 2; }

.buzo-dos {
  grid-area: 1 / 2 / 2 / 3; }

.buzo-subcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px; }

.buzo-tres {
  grid-area: 1 / 1 / 2 / 2; }

.buzo-cuatro {
  grid-area: 1 / 2 / 2 / 3; }

.buzo-cinco {
  grid-area: 1 / 3 / 2 / 4; }

.disclaimer {
  display: none; }

.nav-link {
  display: inline-block;
  margin-block: 2px;
  text-decoration: none;
  position: relative; }

.nav-link::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #000000;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .25s ease; }

.nav-link:hover::after {
  transform: scaleX(1); }

.fa-brands:hover {
  transition: none;
  color: white; }

.brand:hover {
  transition: none;
  color: white; }

.link a {
  text-decoration: none;
  color: white; }

.list-dec {
  list-style-type: none; }

.img-redes {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  min-width: 15%; }

.pay {
  color: white;
  min-width: 15%;
  font-size: 2rem; }
