.hoodies-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    }
    
.hoodie-uno { grid-area: 1 / 1 / 2 / 2; }
.hoodie-dos { grid-area: 1 / 2 / 2 / 3; }
.hoodie-tres { grid-area: 1 / 3 / 2 / 4; }

.size {
    width: 25rem;
}

.animation:hover {
    transform: scale(1.015);
    transition: all 1.5s;
}

.link a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.list-dec {
    list-style-type: none;
}

.img-redes {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    min-width: 15%;
}

.pay {
    color: white;
    min-width: 15%;
    font-size: 2rem;
}

.buzos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    margin-top: 20px;
    }
    
.buzo-uno { grid-area: 1 / 1 / 2 / 2; }
.buzo-dos { grid-area: 1 / 2 / 2 / 3; }

.buzo-subcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    }
    
    .buzo-tres { grid-area: 1 / 1 / 2 / 2; }
    .buzo-cuatro { grid-area: 1 / 2 / 2 / 3; }
    .buzo-cinco { grid-area: 1 / 3 / 2 / 4; }

/* Media Queris */

@media screen and (max-width: 992px) {
    .video {
        display: flex;
        justify-content: center;
    }

    .hoodies-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hoodie-dos, .hoodie-tres {
        margin-top: 15px;
    }

    .pay {
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }

    .metodos {
            font-size: medium;
            display: flex;
            justify-content: center;
        }

        .brand {
            display: none;
        }

        .shop {
            display: flex;
            flex-direction: column;
        }

        .shop-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .buy-here {
            display: none;
        }

        .no-desktop {
            margin-bottom: 20px;
        }

        .opacity {
            opacity: 0.7;
        }


}

@media screen and (min-width: 992px) {
    .metodos {
        display: none;
    }

    .no-desktop {
        display: none;
    }
}
